<mat-sidenav-container class="container">
    
    <mat-sidenav mode="side" opened >

        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <i class="material-icons">home</i> Home
            </a>

            <a routerLink="users" mat-list-item>
                <i class="material-symbols-outlined"> login </i> Log in
            </a>
            <a routerLink="animes" mat-list-item>
                <i class="material-symbols-outlined"> tab </i> Animes
            </a>

            <a routerLink="user/favorites" mat-list-item>
                <i class="material-symbols-outlined"> favorite </i> Favoritos
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        
        <router-outlet>

        </router-outlet>
        
    </mat-sidenav-content>

</mat-sidenav-container>