<form>
    <h1>LOG IN</h1>

    <mat-form-field class="form">
        <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="user.email" type="text" name="email" placeholder="Ex. gmail.com">
    </mat-form-field>  

    <mat-form-field class="form">
        <mat-label>PassWord</mat-label>
            <input matInput [(ngModel)]="user.password" type="text" name="password" placeholder="Ex. 123456"> 
    </mat-form-field>

    <div class="buttons">
        <button (click)="login(user.email, user.password)" class="mat-elevation-z8" mat-stroked-button color="primary">LOG IN</button>
        <button (click)="logOf()" class="mat-elevation-z8" mat-stroked-button color="warn">LOG OFF</button>
        <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="warn">REGISTER</button>
        <button routerLink="" class="mat-elevation-z8" mat-stroked-button color="warn">CANCEL</button>
    </div>
</form>