<form>
    <h1>ADDING A NEW ANIME</h1>

    <mat-form-field class="form">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="anime.name" type="text" name="Name" placeholder="Ex. Hunter x Hunter"> 
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Studio</mat-label>
            <input matInput [(ngModel)]="getStudio" type="text" name="Studio" placeholder="Ex. Wit">
    </mat-form-field>  

    <mat-form-field class="form">
        <mat-label>Genre</mat-label>
            <input matInput [(ngModel)]="getGenre" type="text" name="Genre" placeholder="Ex. Slice of Life"> 
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Author</mat-label>
            <input matInput [(ngModel)]="anime.author" type="text" name="Author" placeholder="Ex. Tatsuya Endo"> 
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary">ADD</button>
        <button routerLink="" class="mat-elevation-z8" mat-stroked-button color="warn">CANCEL</button>
    </div>
    
</form>

<button (click)="add_studio(getStudio)"class="add_studio" mat-stroked-button color="primary">+1</button>
<button (click)="add_genre(getGenre)"class="add_genre" mat-stroked-button color="primary">+1</button>
