<form>
    <h1>ADDING A NEW ANIME</h1>

    <mat-form-field class="form">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="anime.name" type="text" name="Name" disabled=""> 
    </mat-form-field>


    <mat-form-field class="form">
        <mat-label>Score</mat-label>
            <input matInput [(ngModel)]="entry" type="text" name="score" placeholder="Ex. 7"> 
    </mat-form-field>

    <div class="buttons">
        <button (click)="createScore()" class="mat-elevation-z8" mat-stroked-button color="primary">ADD</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCEL</button>
    </div>
    
</form>
